body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.overlay {
  overflow: hidden;
}
.overlay:hover .text-over {
  visibility: visible;
  transition-delay: 100ms;
}
.text-over {
  visibility: hidden;
}
.product-item:hover .info-item {
  opacity: 0.3;
}
